<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">


    <!--开启注解扫描-->
    <context:component-scan base-package="cn.itcast"/>

    <!--配置视图解析器对象-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--        自定义类型转换器-->
    <!-- <bean name="conversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">
         <property name="converters">
             <set>
                 <bean class="cn.itcast.Utils.stringToDataConverte"></bean>
             </set>
         </property>
     </bean>-->

    <!--前端控制器哪些资源不拦截-->
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/css/**" location="/css/"></mvc:resources>
    <mvc:resources mapping="/images/**" location="/images/"></mvc:resources>

    <!--配置文件解析器对象(id固定为multipartResolver)-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize"  value="10485760"></property>
    </bean>

    <!--配置自定义异常处理器-->
    <bean id="sysExceptionResolver" class="cn.itcast.controller.SysExceptionResolver">
    </bean>
    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--配置拦截的controller-->
            <mvc:mapping path="/user/*"/>
<!--            配置不要拦截的方法-->
<!--            <mvc:exclude-mapping path=""/>-->
            <bean class="cn.itcast.Interceptor.MyInterceptor1"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <!--配置拦截的controller-->
            <mvc:mapping path="/user/*"/>
            <!--            配置不要拦截的方法-->
            <!--            <mvc:exclude-mapping path=""/>-->
            <bean class="cn.itcast.Interceptor.MyInterceptor2"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--开启springmvc注解支持-->
    <!--        <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>-->
    <mvc:annotation-driven/>



</beans>